h1 {
  text-align: center;
  color: var(--text-color);
  margin-top: 50px;
  font-size: 3rem;
  margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.container section {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-radius: 10px;
  box-shadow: rgba(42, 167, 4, 0.55) 0px -30px 36px -28px inset;
}

.container section h2 {
  text-align: center;
  font-size: 1.8rem;
}

.container section ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  text-align: start;
  padding: 0;
  width: 100%;
  margin-left: 40px;
  line-height: 30px;
  font-size: 1.3rem;
  font-weight: bold;
}

.container section ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  width: 60px;
  animation: float 2s ease-in-out infinite;
}

.container section ul li img {
  width: 60px;
  height: 60px;
}

.hide {
  display: none;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 50px;
  }

  .container section h2 {
    text-align: center;
    font-size: 1.2rem;
  }

  .container section ul {
    width: 100%;
    margin-left: 20px;
    line-height: 30px;
    font-size: 0.9rem;
  }

  .container section ul li img {
    width: 30px;
  }
}
