.arrow {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 100%;
  max-width: 60px;
  transition: 1s;
}

.arrow:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

@media (max-width: 400px) {
  .arrow {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100%;
    max-width: 40px;
    transition: 1s;
  }
}
