.container {
  width: 60%;
  margin: 0 auto;
  margin-top: 400px;
}

.identidade {
  display: flex;
  width: 100%;
  border: none;
  color: var(--text-color);
  font-size: 1.5rem;
  position: relative;
  margin-bottom: 8px;
}

.identidade p {
  font-weight: bold;
  margin: 0;
}

.identidade::before {
  content: "";
  width: 190px;
  height: 190px;
  border: 1px solid var(--border-color);
  position: absolute;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  background-color: rgb(6, 146, 6);
}

.identidade img {
  margin-right: 20px;
  z-index: 1;
  margin-bottom: 7px;
  border-radius: 50%;
  width: 190px;
  height: 190px;
}

.identidade p:nth-child(1) {
  font-size: 3rem;
  margin-bottom: 30px;
}

.identidade p:nth-child(2) {
  font-size: 3rem;
  margin-bottom: 30px;
}

.aboutMe {
  color: var(--text-color);
  font-size: 1.7rem;
  border: 1px solid var(--border-color);
  padding: 50px;
  margin: 0;
  box-shadow: 7px 7px 30px rgb(11, 177, 11);
}

.container ul {
  padding: 0;
  margin: 0;
}

.container li {
  color: var(--text-color);
  list-style: none;
  font-size: 1.3rem;
  width: 200px;
}

.hide {
  display: none;
}

@media (max-width: 400px) {
  .container {
    width: 95%;
    margin: 0 auto;
    margin-top: 200px;
  }

  .identidade {
    display: flex;
    width: 100%;
    border: none;
    color: var(--text-color);
    font-size: 0.7rem;
    position: relative;
  }

  .identidade::before {
    content: "";
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    background-color: rgb(6, 146, 6);
  }

  .identidade img {
    margin-right: 10px;
    z-index: 1;
    margin-bottom: 7px;
    width: 80px;
    height: 80px;
  }

  .identidade div p:nth-child(1) {
    margin-bottom: 15px;
    font-size: 1.05rem;
  }

  .identidade div p:nth-child(2) {
    margin-bottom: 15px;
    font-size: 1.05rem;
  }

  .aboutMe {
    font-size: 0.8rem;
    padding: 20px;
    box-shadow: 5px 5px 17px rgb(11, 177, 11);
  }
}
